<div>
  <input type="text" id="imgSrc"/>
  <div class="btn-group">
    <a class="btn" data-wysihtml5-command="createLink" title="Link" href="javascript:;" unselectable="on"><i class="icon-share"></i></a>
    <a data-id='moveup-btn' class="btn"><i class="icon-chevron-up"></i></a>
    <a data-id='movedown-btn' class="btn"><i class="icon-chevron-down"></i></a>
  </div>
</div>
