<div>
  <input type="text" id="imgSrc"/>
  <div class="btn-group">
    <a class="btn" data-wysihtml5-command="createLink" title="Link" href="javascript:;" unselectable="on"><i class="icon-share"></i></a>
  </div>
</div>
